body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    color: #333;
    background-color: #f4f7f9; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px; 
    background: #ffffff; 
    box-shadow: 0 2px 15px rgba(0,0,0,0.08); 
    position: sticky;
    top: 0;
    z-index: 1000;
}

#logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

#logo h1 {
    font-size: 1.5rem;
    margin: 0;
    color: #4e63dd; 
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

div a {
    text-decoration: none;
    color: black;
}

nav a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    font-size: 0.9rem;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #4e63dd; 
}


.about-container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 40px;
    background: white; 
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
    text-align: center;
}

.project-header h2 {
    font-size: 2.2rem;
    margin-bottom: 15px;
    color: #4e63dd; 
    border-bottom: 3px solid #00ffee; 
    display: inline-block;
}

.project-header p {
    margin: 10px 0;
    font-size: 1.1rem;
    color: #666;
}


.team-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 25px;
    margin-top: 40px;
}

.member-card {
    background: white;
    border: none; 
    padding: 30px 20px;
    border-radius: 20px; 
    width: 200px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05); 
    transition: transform 0.3s;
    border-top: 5px solid #4e63dd; 
}

.member-card:hover {
    transform: translateY(-10px); 
}

.member-card h3 {
    font-size: 1.1rem;
    color: #2c3e50;
    margin: 10px 0 5px 0;
}

.member-card p {
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 15px;
}

.member-links a {
    font-size: 0.85rem;
    color: #4e63dd;
    text-decoration: none;
    font-weight: bold;
}

.member-links a:hover {
    color: #14abd0;
}

.disclaimer {
    margin-top: 50px;
    font-size: 0.85rem;
    color: #bbb;
}